@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #1f2937;
  font-family: Inter, sans-serif;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-inline: 24px;
}
.page-container {
  width: 100%;
  max-width: 1850px;
  margin: 0 auto;
  padding-inline: 70px;
}

@media (max-width: 1024px) {
  .page-container {
    padding-inline: 40px;
  }
}

@media (max-width: 768px) {
  .page-container {
    padding-inline: 20px;
  }
}
